.artiesten{
    padding-top: 20px;
    border: black 2px solid;
    border-bottom: black 2px solid;
    background-color: #FFD09C;
    margin-left: 550px;
    margin-top: 40px;
    width: 400px;
    
    
}
.title {
    text-align: center;
}
h4{ 
    border: black 2px solid;
    background-color: #FFD09C;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    margin-left: 100px;
    font-weight: lighter;

}
footer{
    padding-bottom: 2.5vh ;
    border-top: 2px solid black ;
    background-color: #FFD09C;
    color: black;
    margin-top: 100px;
   }
    
  footer img{
    border-radius: 50%;
  }
    
  .copyright{
    float: right;
    
  }