.missie {
  border: 3px solid black;
  margin: 3%;
  padding: 3%;
  text-align: center;
  background-color: #FFD09C;
}
footer{
    padding-bottom: 2.5vh ;
    border-top: 2px solid black ;
    background-color: #FFD09C;
    color: black;
    margin-top: 410px;
  }
    
  footer img{
    border-radius: 50%;
  }
    
  .copyright{
    float: right;
    
  }
/* Slideshow container*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: 350px;
  margin-top: 110px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.foto {
  padding: 8px 12px;
  bottom: 8px;
  width: 826px;
  text-align: center;
  border: 2px solid black;
  background-color:#FFD09C;

}
/* accordion */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  border: 2px black solid;
  margin-left: 40%;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 20%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display:flex;
  flex-direction: row;
}
.vragen {
  margin-top: 50px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */

.panel {
  margin-left: 40%;
  width: 17.69%;
  padding: 0 15px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: black 2px solid;
  border-left: black 2px solid;
  border-right: black 2px solid;
}

/*stop accordion*/
