body{
  background-color:#FFA641;
 display: grid;
 font-family: 'Roboto', sans-serif;

}
.hoofd img {
  width: 1516px;
  height: 600px;
  display: block;
  margin-bottom: 5px;
}

.tekst1{
 color: antiquewhite;
 display: flex;
 justify-content: center;
 position: relative;
 bottom: 50vh;
 font-size: 7vh;
 z-index: 2;
 text-align: center;
}
.slider{
  width:700px;
  height:500px;
  overflow:hidden;
  margin-top: 6vh;
  margin-left: 3vh;
 }
 .slides img {
   width: 600px;
   border-radius: 10px;
 }
 .slides{ 
   width:500%;
  height:500px;
  display:flex;
 }
 .slides input{ 
   display:none;
 }
 .slide{
   width:20%;
   transition:1.5s;
 }

.side{
  color: rgb(197, 62, 25);
  z-index: 12;
}
.tekst2 {
  float: right;
  position: relative;
  font-size: 25px;
  text-align: center;
  right: 12vh;
  bottom: 45vh;
 
}
.circle{
 border: 2px solid whitesmoke;
 border-radius: 50%;
 width: 400px;
 height: 300px;
 position: relative;
 bottom: 26vh;
 left: 18vh;
 background-color: white;
 z-index: -1;
 opacity: 80%;
}
.navigation-manual{
 position: relative;
 display: flex;
 justify-content: center;
 bottom: 25vh;
 right: 60vh;
}

.manual-btn{
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #FFA641;
}

#radio1:checked .first{
  margin-left: 0;
}

#radio2:checked .first{
  margin-left: -20%;
}

#radio3:checked .first{
  margin-left: -40%;
}

#radio4:checked .first{
  margin-left: -60%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #FFA641;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last child){
  margin-right: 40px;
}

#radio:checked .navigation-auto .auto-btn1{
  background: #FFA641;
}

#radio:checked .navigation-auto .auto-btn2{
  background: #FFA641;
}

#radio:checked .navigation-auto .auto-btn3{
  background: #FFA641;
}

#radio:checked .navigation-auto .auto-btn4{
  background: #FFA641;
}
.tekst4{
  text-align: center;
 position: relative;
 font-size: 30px;
 bottom: 90vh;
 z-index: 5;
}

.tekst3 {
 font-size: 26px;
 width: 20%;
 text-align: center;
 position: relative;
 left: 10vh;
}

.back{
 border: 2px solid whitesmoke;
 height: 600px;
 width: 1515px;
 position: relative;
 right:10vh ;
 background-color: white;
 opacity: 95%;
 z-index: -2;
}


.calender img{
  width: 300px;
  height: 300px;
  float: right;
  display: flex;
  position: relative;
  left: 130vh;
  bottom: 55vh;
  z-index: 4;
}

.maps iframe {
  float: right;
  position: relative;
  bottom: 35vh;
  right: 0.8vh;
}
h2 {
  color:whitesmoke;
  text-align: center;
  position: relative;
  bottom: 65vh;
  font-size: 45px;
}

.maps p{
  color: orangered;
  text-align: center;
  position: relative;
  bottom: 125vh;
  font-size: 25px;
}